
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

.timer {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 5rem;
  line-height: 5rem;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

.roomID {
  padding-bottom: 1rem;
  font-size: 2rem;
  line-height: 2rem;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

.messages {
  background-color: #eee;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

.plain-list {
  list-style: none;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
