
<div class="content-padded roomID">
  Room ID: <span class="roomID--value">{{roomId}}</span>
</div>

<div class="timer">
  <span class="timer--time">{{timer}}</span>
</div>

<div class="content-padded messages">
  <ul>
  {{#each messages}}
    <li>{{this}}</li>
  {{/each}}
  </ul>
</div>

<div class="bar bar-standard bar-footer">
  <button class="btn btn-positive btn-block">End</button>
</div>
