<p class="content-padded">
  This is the workshop feedback app.
</p>
<div class="card">
  <ul class="table-view">
    <li class="table-view-cell">
      <a class="push-right" href="/host">
        <strong>Create Room</strong>
      </a>
    </li>
    <li class="table-view-cell">
      <a class="push-right" href="/join">
        <strong>Join Room</strong>
      </a>
    </li>
  </ul>
</div>
