<p class="content-padded">
  Join an existing room to provide feedback.
</p>

<form>
  <div class="input-row">
    <label>Room ID</label>
    <input type="text" placeholder="3F1C" value='{{roomId}}'>
  </div>
  <button class="btn btn-positive btn-block" on-tap='join'>Join</button>
</form>
