<p class="content-padded">
  Welcome to your room, please give feedback on how the class is going.
</p>

<div class="content-padded roomID">
  Room ID: <span class="roomID--value">{{roomId}}</span>
</div>

<button class="btn btn-positive btn-block">Leave</button>
